h2{
  margin: 0;
  padding: 0;
}
.jade-carve-part{
  padding:.2rem;
}
.jade-carve-title{

}
.jade-carve-title .title-img{
  width: .5rem;
  height: .5rem;
}
.jade-carve-title .title-con{
  display: inline-block;
  font-size: .34rem;
  color: #000000;
  letter-spacing: 0;
  vertical-align: middle;
  margin-left: -0.1rem;
}