h2,body,div,html,ul,li{
  margin: 0;
  padding: 0;
}
ul li{
  list-style: none;
}
.clearfix:after{/*伪元素是行内元素 正常浏览器清除浮动方法*/
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
}
.clearfix{
    *zoom: 1;/*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}
.fl{
  float: left;
}
.fr{
  float:right;
}
.jade-carve-part{
  padding:0 .2rem;
  background: #fff;
}
.jade-carve-title{
  border-bottom:1px solid #CACACA;
}
.jade-carve-title .title-img{
  width: .5rem;
  height: .5rem;
  margin-right: -0.2rem;
}
.jade-carve-title .title-con{
  display: inline-block;
  font-size: .34rem;
  color: #000000;
  letter-spacing: 0;
  vertical-align: middle;
}
.jade-introduce-item{
  width:33.33%;
}