.bodyStyle{
  padding:0 .2rem;
}
.home-top{
  width: 100%;
  height: 1.6rem;
  background: #FFFFFF;
  border-radius: .12rem;
  margin-bottom: .2rem;
}
.live-bac{
  display: inline-block;
  width: 1.6rem;
  height: 100%;
  vertical-align: middle;
}
.live-con{
  height: 100%;
  width: 5.5rem;
  padding:.2rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}
.live-title{
  font-size: .32rem;
  color: #000000;
  letter-spacing: 0;
  margin-bottom: 0.48rem;
}
.live-status{
  display: inline-block;
  width: .94rem;
  height: .32rem;
}
.live-status>img{
  width: .18rem;
  height: .18rem;
  display: inline-block;
}
.live-visitor-num{
  display: inline-block;
  font-size: .22rem;
  color: #888888;
  vertical-align: middle;
}
.live-detail>img{
  display: inline-block;
  width: .94rem;
  height: .32rem;
  vertical-align: middle;
  margin-right: .1rem;
}
.live-detail>a{
  display: inline-block;
  font-size: .28rem;
  color: #00C17B;
  text-align: center;
  line-height: .32rem;
}
/*个人信息*/
.self-information{
  background: #FFFFFF;
  border-radius: .12rem;
  padding:0 .2rem;
}
.self-information .self-title{
  font-size: .34rem;
  color: #000000;
  letter-spacing: 0;
  line-height: .42rem;
  font-weight: bold;
}
.self-information .self-detail .self-detail-item{
  padding:.3rem 0;
  border-bottom: 1px solid #dcdcdc;
}
.self-detail-item>span:first-child{
  font-size: .28rem;
  color: #888888;
  letter-spacing: 0;
  text-align: center;
  line-height: .32rem;
}
