h2,body,div,html,ul,li,a{
  margin: 0;
  padding: 0;
}
ul li{
  list-style: none;
}
.clearfix:after{/*伪元素是行内元素 正常浏览器清除浮动方法*/
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
}
.clearfix{
    *zoom: 1;/*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}
.fl{
  float: left;
}
.fr{
  float:right;
}
.jade-carve-part{
  padding:0 .2rem;
  background: #fff;
}
.jade-carve-title{
  border-bottom:1px solid #CACACA;
}
.jade-carve-title .title-img{
  width: .5rem;
  height: .5rem;
  margin-right: -0.2rem;
}
.jade-carve-title .title-con{
  display: inline-block;
  font-size: .34rem;
  color: #000000;
  letter-spacing: 0;
  vertical-align: middle;
}
/*玉雕师介绍列表*/
.jade-introduce-item{
  width:33.33%;
}
.jade-introduce-item .jade-introduce-a{
  display: block;
}
.item-img{
  width: 2.2rem;
  height: 2.47rem;
  border-radius: .08rem;
}
.item-con{
  width:2.2rem;
  font-size: .24rem;
  color: #888888;
  text-align: center;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}