.special-review-item{
  background: #fff;
  border-radius: .12rem;
  overflow: hidden;
  padding:.2rem;
}
.fix-reviews-avatar-box{
  background: #fff;
}
.no-padding-sty{
  padding: 0 !important;
}
.fix-inner-lf{
  margin-right: .2rem
}
.fix-inner-lf img:first-child{
  width: .8rem;
  height: .8rem;
}
.commenter-icon{
  width: .7rem;
  height: .7rem;
}
.fix-inner-reviews-con .fix-inner-con-reviews-top{
  font-size: .3rem;
  color: #333333;
  text-align: left;
  line-height: .36rem;
  font-weight: bold;
  max-width: 4.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: .11rem;
}
.fix-inner-con-reviews-bom{
  position: relative;
  overflow: hidden;
}
.fix-con-unlight-box,.fix-con-light-box{
  background: #fff;
  font-size: 0 !important;
}
.fix-con-unlight-box img{
  display: inline-block;
  width: .28rem;
  height: .28rem;
  margin-right: .1rem;
}
.fix-con-light-box{
  width: 40%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.fix-con-light-box img{
  display: inline-block;
  width: .28rem;
  height: .28rem;
  margin-right: .1rem;
}
.fix-reviews-rg{}
.fix-reviews-rg span{
  display: block;
  font-size: .24rem;
  color: #888888;
  letter-spacing: 0;
  text-align: right;
  line-height: 0.8rem;
}
.reviews-avatar-box{
  padding-left: 1rem;
  margin-top: .2rem;
}
.reviews-detail{
  font-size: .34rem;
  color: #000000;
  line-height: .5rem;
}
.reviews-img{
  font-size: 0;
  padding:.2rem 0 .1rem;
  border-bottom:1px solid #DCDCDC;
}
.reviews-img img{
  display: inline-block;
  width: 1.35rem;
  height: 1.35rem;
  margin-right: .1rem;
  border-radius: .08rem;
  margin-bottom: .1rem;
}
.reviews-img img:nth-child(4n){
  margin-right: 0;
}

/*定制流程*/
.ding-zhi-liu-cheng{
  padding-left: .5rem;
}
.dingzhiyaoqiu{
  margin-top: .15rem;
  padding-bottom: .3rem;
  position: relative;
  /* border-left:1px dashed #DCDCDC; */
}
.dingzhiyaoqiu-con{
  font-size: .3rem;
  color: #333333;
  text-align: left;
  padding-left: .5rem;
  /* line-height: .4rem; */
}
.yuancailiao{
  position: relative;
  padding-bottom:.3rem;
  /* border-left:1px dashed #DCDCDC; */
}
.yuancailiao-con-first{
  width: 1.35rem;
  height: 1.35rem;
  position: relative;
  border-radius: .08rem;
  overflow: hidden;
  margin-right: .1rem;
  margin-bottom: .1rem;
}
.yuancailiao-con-first video{
  width: 100%;
  height: 100%;
}
.yuancailiao-video-img{
  width: 1.35rem;
  height: 1.35rem;
  position: absolute;
  top:0;
  left: 0;
}
.yuancailiao-play{
  width: .3rem;
  height: .3rem;
  position: absolute;
  left: .1rem;
  bottom: .1rem;
}
.yuancailiao-img{
  width: 1.35rem;
  height: 1.35rem;
  border-radius: .08rem;
  margin-right: .1rem;
  margin-bottom: .1rem;
}
.yuancailiao-img:nth-child(4n){
  margin-right: 0;
}
.round-sty-box{
  height: .36rem;
  position: relative;
  padding-left: 0.5rem;
  margin-bottom: .2rem;
}
.rounddian-img{
  width: .22rem;
  height: .22rem;
  position: absolute;
  left:-0.11rem;
  top: 0.11rem;
  display: inline-block;
  vertical-align: middle;
}
.process-titlle{
  display: inline-block;
  height: .36rem;
  font-size: .3rem;
  color: #888888;
  text-align: left;
  line-height: .36rem;
  vertical-align: middle;
}
.yuancailiao-con{
  padding-left: .5rem;
}

.lf-dash-line{
  width:0;
  height: 100%;
  border-left:1px dashed #DCDCDC;
  position: absolute;
  top:0.11rem;
  left:0;
}