.rencent-active-list{
  padding:0 .2rem;
  background: #fff;
  border-radius: .12rem;
}
.common-title-sty{
  padding: .3rem 0;
}
.rencent-con{

}
.rencent-con .rencent-top-avatar>img{
  width: .8rem;
  height: .8rem;
}